body {
  margin: 0;
  padding: 0;
}
h1 {
  margin: 0 0 0 15px;
  font-size: 50px;
  text-align: center;
  color: white;
}

.trans-box {
  overflow-y: scroll;
  overflow-x: none;
  height: 1200px;
}
table th {
  border: none;
  background-color: rgba(11, 240, 228, 0.144);
  font-size: 30px;
  color: #fff;
}
table td {
  border: 2px solid bisque;
  font-size: 30px;
  color: rgb(111, 0, 255);
  background-color: rgba(11, 240, 228, 0.144);
}

body {
  background: url(old-paper.jpeg);
  background-repeat: repeat-y repeat-x;

  background-size: auto;
}
